{% extends 'index.html' %}

{% block content %}
<div class="container">
    <div class="card border-light mb3" style="width: 30rem; margin-top: 50px;">
        <div class="card-header">
            <h1>Login</h1>
            <div class="card-body">
                <form id="myForm" method="post"  action="/login-action/">
                    {%csrf_token %}
                    <div class="form-group">
                        <label>Username</label>
                        <input autofocus type="text" name="username">
                    </div>
                    <br />
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password">
                    </div>
                    <br />
                    <input type="submit" value="Login" class="btn btn-success btn-sm ">
                    <input type="button" onclick="reset()" class="btn btn-secondary btn-sm" value="Reset">
                </form>
            </div>
        </div>
    </div>

    <script>
        function reset() {
            document.getElementById("myForm").reset()
        }
    </script>
</div>
{% endblock %}